extends ../../templates/layout

block title
    | 周星规则
block head
    link(rel="stylesheet", href="../../css/rule.css", type="text/css")

    body.bgWhite
        header
        
        div.g-rule-main
           dl.u-list
             dt
                i.rank 1
                strong 周星玩法规则说明
             dd 周星是对每周一00:00到周日24:00，周星礼物收到数量进行排名的玩法。 
             dt
                i.rank 2
                strong 周星排名显示规则说明
             dd 1、主播7个周星礼物排名中，最高排名在前50名的，可在直播间显示最高排名的礼物和排名。
             dd 2、最高排名在1~3名的则显示具体的名次。
             dd 3、最高排名在4~30名的则显示“TOP30”。
             dd 4、最高排名在31~50名的则显示“TOP50”。
             dt
                i.rank 3
                strong 周星玩法奖励说明
             dd 奖励对象为周星榜首主播与用户。
             dd
               h3 主播奖励：
               p 1、周星勋章（7天），一旦拥有即表示你是本周最亮的星。
               img.img1.lazy(src='./images/transparent.gif' data-original='./images/img1.jpg') 
               p 2、荣耀勋章（永久），永久记录你的周星战绩。
               img.img2.lazy(src='./images/transparent.gif' data-original='./images/img2.jpg')    
             dd
               h3 用户奖励：
               p 每周赠送周星礼物最多的，可享受该礼物PC端冠名权（7天）。
               img.img3.lazy(src='./images/transparent.gif' data-original='./images/img3.jpg')                                           

        div.blank100
        div.cg-footer
           ul.u-list
              li 
                a(href='//web.yy.com/weekStar/index.html') TA的周星
              li 
                span.line.left
                a(href='//web.yy.com/weekStar/list.html') 周星榜单
                span.line.right
              li.active 
                a(href='//web.yy.com/weekStar/rule.html') 周星规则
append script
    script(src="../../js/lib/requirejs/require.js", data-main="./p-rule.js")             