extends ../../templates/layout

block title
    | TA的周星
block head
    link(rel="stylesheet", href="../../css/index.css", type="text/css")
    link(rel="prefetch", href="../p-index/images/loading.gif")

block body
    header 
    div.anchor-wrapper
        // + 主播信息 
    div.start-wrapper
        h2 TA的周星礼物榜
        table.start-list
            // +周星礼物榜

append script
    script(src="../../js/lib/requirejs/require.js", data-main="./p-index.js")
    script(id="anchorInfo", type="text/tmpl")
        div.anchor-icon
            img(src="{{icon}}")
        div.anchor-info
            div.anchor-left
                ul
                    li.special.nick {{nick}}
                    li 最高排名: 
                        span.special {{rank}}
                    li.gift-icon 最高排名礼物：
                        img(src="{{gift_icon}}")
            div.anchor-right
                ul
                    li 收到礼物数量：
                        span.special {{numb}}
                    li 距离上一名数量：
                        span.special {{deviation_forward}}
                    li 领先后一名数量：
                        span.special {{deviation_backward}}
    script(id="startInfo", type="text/tmpl")
        tr
            th 礼物
            th 收到数量
            th 主播排名
        | {{each data as item i}}
        tr
            td 
                img(src="{{item.gift_icon}}")
            td {{item.numb}}
            {{if item.rank > 100 || item.rank == 0}}
            td 99+
            {{else}}
            td {{item.rank}}
            {{/if}}
        | {{/each}}


    // TA的荣誉
    div#m-scroll.m-scroll 
    
    // TA的荣誉模板
    script(id="honorWrapper", type="text/tmpl")
        {{if newList.length > 0}}
        div.wrap
          h3.ui-title TA的荣誉
          div.swiper-container    
            div#swiper-wrapper.swiper-wrapper
               | {{each newList}}
               ul.swiper-slide
                    | {{each newList[$index]}}
                    li
                      img(src="{{$value.medal_url}}")
                      span.term {{($value.week_of_year || '--') + "期"}} 
                    | {{/each}}       
               | {{/each}}
            div.swiper-pagination
        {{/if}}                             
    

    // 底部
    div.blank100
    div.cg-footer
       ul.u-list
          li.active  
            a(href='//web.yy.com/weekStar/index.html') TA的周星
          li 
            span.line.left
            a(href='//web.yy.com/weekStar/list.html') 周星榜单
            span.line.right
          li
            a(href='//web.yy.com/weekStar/rule.html') 周星规则        