$psdWidth: 750;
$darkColor: #333;
$lightColor: #999;

header{
    width: 100%;
    height: rem(240);
    background: url(../../components/p-index/images/banner.jpg) center center no-repeat;
    background-size: cover;
}

.ui-loading{
      display: block;
      margin: 0 auto;
      width:60%;
}
.cg-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(99);
    background: white;
    border-top:1px solid #e9e9e9;
    overflow: hidden;
    z-index: 99;
    .u-list{
    	  height: 100%;
    	  width: rem(700);
    	  margin: 0 auto;
    	  li{
    	  	  float: left;
    	  	  height: 100%;
    	  	  font-size: rem(30);
    	  	  width: 33%;
    	  	  text-align: center;
    	  	  span.line{
    	  	  	  display: inline-block;
    	  	  	  height: rem(30);
    	  	  	  width: 1px;
    	  	  	  background: #e8e8e8;
    	  	  	  margin-top: rem(39);
    	  	  }
    	  	  .left{
    	  	  	 float: left;
    	  	  }
    	  	  .right{
    	  	  	 float: right;
    	  	  }
    	  	  a{
    	  	  	  color: #999999;
    	  	  	  display: inline-block;
    	  	  	  line-height: rem(99);
    	  	  	  position: relative;
    	  	  	  bottom: 2px;
    	  	  }
    	  }
    	  li.active{
    	  	  a{
    	  	  	  color: #333333;
    	  	  	  border-bottom: 2px solid #feb900;
    	  	  }    	  	   
    	  }
    }

}
.blank100{
	  clear: both;
	  display: block;
	  height: rem(100);
}

@-webkit-keyframes slide1{
    0% {
       left: 100%;
    }
    100%{
        left: -120%;
    }
}
@-webkit-keyframes slide2{
    0% {
       left: 100%;
    }
    100%{
        left: -200%;
    }
}
@-webkit-keyframes slide3{
    0% {
       left: 100%;
    }
    100%{
        left: -300%;
    }
}