@charset 'UTF-8';
@import '../../sass/base/_mixin';
@import '../../sass/base/_mobile';
@import '../../sass/base/commons';

body{
    font-size: rem(24);
    background: white;
}
.test111{
	  @include triangle;
}
.g-list-hotNews{
    padding: rem(37) rem(16) rem(47) rem(16);
    zoom:1;
    &:after{
    	height:0;
    	display: block;
    	clear: both;
    	overflow: hidden;
    	content: ""; 
    };
    .u-hotIcon{
    	 float: left;
    	 width: rem(151);
    	 height: rem(40);
    	 background: url(./images/hot.jpg) no-repeat center center;
    	 background-size: 100% 100%;
    }
    .hotNewsTxt{
    	 font-size: rem(24);
    	 color:$darkColor;
    	 width: rem(460);
    	 white-space: nowrap;
    	 overflow: hidden;
    	 text-overflow:ellipsis;
    	 float: left;
    	 padding-left: rem(14);
    	 padding-top: rem(4);
    }
    .ui-more{
    	  float: right;
    	  padding-top: rem(4);
    	  span{
    	  	 vertical-align: middle;
    	  	 padding-right: rem(8);
    	  	 color:$lightColor;
    	  }
    	  .arror{
    	  	  display: inline-block;
    	  	  width: rem(12);
    	  	  height: rem(20);
    	  	  background: url(./images/arror.png) no-repeat center center;
    	  	  background-size: 100% 100%;
    	  	  vertical-align: middle;
    	  }
    }	
}

.m-list-toggle{
    padding: 0 rem(16);
    .ui-toggeBtn{
    	 border:1px solid #1b1b1b;
    	 zoom:1;
    	 border-radius: 4px;
    	 overflow: hidden;
    	 &:after{
    	 	  content:'';
    	 	  display: block;
    	 	  clear: both;
    	 	  height: 0;
    	 	  overflow: hidden;
    	 	  visibility: hidden;
    	 };
    	 li{
    	 	float: left;
    	 	width: 50%;
    	 	text-align: center;
    	 	padding: rem(16) 0;
    	 	color:$lightColor;
    	 }
    	 li.active{
            color: $darkColor;
            background: #ffdd00;
    	 }
    }	  
}
.g-rank-wrap{
      padding-top: rem(75);
      .m-list-wrap{
			  padding: 0 rem(16);
			  .ui-nowWeek-list{
			  	 .ui-top-line{
			  	 	  position: relative;
			  	 	  width: 100%;
			  	 	  height: 1px;
			  	 	  background: #e8e8e8;
			  	 	  .middle-img{
			  	 	  	  position: absolute;
			  	 	  	  left: 50%;
			  	 	  	  width: rem(120);
			  	 	  	  margin-left: rem(-60);
			  	 	  	  height: rem(90);
			  	 	  	  margin-top: rem(-45);
			  	 	  	  background: white;
			  	 	  	  i.leftCircle,i.rightCircle{
			  	 	  	  	  display: block;
			  	 	  	  	  width: rem(6);
			  	 	  	  	  height: rem(6);
			  	 	  	  	  background: #e8e8e8;  	 	  	  	  
			  	 	  	  	  border-radius: 50%;
			  	 	  	  	  overflow: hidden;  	 	  	  	    	 	  	  	 
			  	 	  	  	  z-index: 9;
			  	 	  	  }
			  	 	  	  i.leftCircle{
			  	 	  	  	  left: -2px;
			  	 	  	  	  top:50%;
			  	 	  	  	  margin-top: rem(-2);
			  	 	  	  	  position: absolute;
			  	 	  	  }
			  	 	  	  i.rightCircle{
			   	 	  	  	  right: -2px;
			   	 	  	  	  top:50%;
			   	 	  	  	  margin-top: rem(-2); 
			   	 	  	  	  position: absolute;  	 	  	  	   	 	  	  	
			  	 	  	  }
			  	 	  	  img{
			  	 	  	  	  position: absolute;
			  	 	  	  	  top:50%;
			  	 	  	  	  left:50%;
			  	 	  	  	  width: rem(86);
			  	 	  	  	  height: rem(86);
			  	 	  	  	  transform:translate(-50%,-50%);
			  	 	  	  	  border:1px solid #ffe017;
			  	 	  	  	  border-radius: 50%;	
			  	 	  	  }
			  	 	  }
			  	 }
			  	 .ui-gift{
			  	 	 text-align: center;
			  	 	 padding-top: rem(50);
			  	 	 color: #999999;
			  	 }
			  	 .ui-title{
				  	 	 text-align: center;
				  	 	 padding-top: rem(26);
				  	 	 color: #000000;
				  	 	 font-size: rem(32);
				  	 	 font-weight: normal;
				  	 	 padding-bottom: rem(43);
				 }
				 .ui-middle-list{
				 	  padding-bottom: rem(20);
				 }
			  	 .u-rankList{
			  	 	 position: relative;
			  	 	 zoom:1;
			  	 	 &:after{
			  	 	 	  content:'';
			  	 	 	  height: 0;
			  	 	 	  overflow: hidden;
			  	 	 	  visibility: hidden;
			  	 	 	  clear: both;
			  	 	 	  display: block;
			  	 	 };
				  	 dd{
					  	 .avatar{
			                  width: rem(176);
			                  height: rem(176);
			                  overflow: hidden;
			                  border-radius: 50%;
			                  position: relative;
			                  .img{                  	  
			                  	  width: 100%;
			                  	  position: absolute;
			                  	  top:50%;
			                  	  left: 0;
			                  	  transform:translate(0,-50%);                  	  
			                  }
					  	 }
					  	 .rank{
					  	 	   display: block;
					  	 	   width: rem(194);
					  	 	   height: rem(49);
					  	 	   margin: rem(-38) auto 0;
					  	 	   position: relative;
					  	 }
					  	 .rank1{
					  	 	  background: url('./images/first.png') no-repeat center center;
					  	 	  background-size: 100% 100%;
					  	 }
					  	 .rank2{
					  	 	  background: url('./images/second.png') no-repeat center center;
					  	 	  background-size: 100% 100%;
					  	 }
					  	 .rank3{
					  	 	  background: url('./images/third.png') no-repeat center center;
					  	 	  background-size: 100% 100%;
					  	 }
					  	 .nameWrap{
					  	 	 text-align: center;
					  	 	 padding: rem(13) 0;
					  	 }
					  	 .name{
			                  display: inline-block;
			                  vertical-align: middle;
			                  color: #000000;
			                  max-width: rem(150);
			                  white-space: nowrap;
			                  overflow: hidden;
			                  text-overflow:ellipsis;
			                  text-align: center;
			                  font-size: rem(24);
					  	 }		  	 		  	 
					  	 .liveIcon{
			                 display: inline-block;
			                 width: rem(24);
			                 height: rem(16);
			                 background: url('./images/live.jpg') no-repeat center center;
			                 background-size: 100% 100%;
			                 vertical-align: middle;
			                 margin-left: rem(4);
					  	 }
					  	 .gift{
					  	 	  font-size: rem(20);
					  	 	  color: #999999;
					  	 	  text-align: center;
					  	 }		  	 
				  	 }
				  	 dd.rankWrap1{
			              width: rem(278);              
			              text-align: center;
			              position: absolute;
			              left: 50%;
			              top:0;
			              margin-left: rem(-139);
			              .avatar{
			              	  margin: 0 auto;
			              }
			              .name{
			              	  max-width: rem(200);
			              }
				  	 }
				  	 dd.rankWrap2{
				  	 	float: left;
				  	 	width: rem(194);
				  	 	margin-top: rem(15);
				  	 	.avatar{
			                  width: rem(160);
			                  height: rem(160);
			                  margin: 0 auto;	  	 		  
				  	 	}
				  	 }
				  	 dd.rankWrap3{
				  	 	float: right;
				  	 	width: rem(194);
				  	 	margin-top: rem(15);
				  	 	.avatar{
			                  width: rem(160);
			                  height: rem(160);
			                  margin: 0 auto;	  	 		  
				  	 	}	  	 	
				  	 }	  	 
			  	 }
			  } 
       }
}


.blankdark10{
	  height: rem(10);
	  display: block;
	  clear: both;
	  background: #f4f4f4;
}