extends ../../templates/layout

block title
    | 周星榜单
block head
    link(rel="stylesheet", href="../../css/list.css", type="text/css")

    body.bgWhite
        header

        //+最热战报        
        div.g-list-hotNews
            h3.u-hotIcon
            a#hotNewsTxt.hotNewsTxt(href="#")
            a.ui-more(href='http://yue.yy.com?from=zhouxing')
              span 更多
              i.arror
        
        //+ 切换按钮
        div.m-list-toggle
           ul.ui-toggeBtn
             li.active 本周榜单
             li 周星名人堂
        
        //+ 列表
        div#g-rank-mod.g-rank-mod
           img.ui-loading(src='../p-index/images/loading.gif')



        //列表模板
        script(id="rankWrap", type="text/tmpl")
          | {{each rank_info_vec}}
          div.g-rank-wrap
            div.m-list-wrap
               div.ui-nowWeek-list
                  div.ui-top-line
                     div.middle-img
                        i.leftCircle
                        img.lazy(src='{{defaults.img}}',data-original='{{$value.gift_info_map.gift_icon}}') 
                        i.rightCircle
                  div.ui-gift {{$value.gift_info_map.medal_text}}
                  div.ui-middle-list
                    h3.ui-title 周星主播
                    dl.u-rankList                    
                      | {{each $value.top_anchor_vec}}
                      dd(class='rankWrap{{$index+1}}',data-uid='{{$value.uid}}',data-live='{{$value.is_live}}',data-topcid='{{$value.topcid}}',data-subcid='{{$value.subcid}}')
                        ul
                          li
                            div.avatar
                               img.img.lazy(src='{{defaults.img}}',data-original='{{$value.icon || defaults.img}}')
                            i(class='rank rank{{$index+1}}')
                          li.nameWrap
                            span.name {{$value.nick || '虚位以待'}}
                            {{if $value.is_live == 1}}
                            i.liveIcon   
                            {{/if}}                            
                          li.gift 收到：{{$value.numb | milliFormat}}                          
                      | {{/each}}

                  div.ui-middle-list
                    h3.ui-title 周星大人物
                    dl.u-rankList
                      | {{each $value.top_fan_vec}}
                      dd(class='rankWrap{{$index+1}}')
                        ul
                          li
                            div.avatar
                               img.img.lazy(src='{{defaults.img}}',data-original='{{$value.icon || defaults.img}}')
                            i(class='rank rank{{$index+1}}')
                          li.nameWrap
                            span.name {{$value.nick || '虚位以待'}}                          
                          li.gift 送出：{{$value.fans_numb | milliFormat}}                          
                      | {{/each}}
            div.blankdark10
          | {{/each}}



        //+ 底部
        div.blank100
        div.cg-footer
           ul.u-list
              li 
                a(href='//web.yy.com/weekStar/index.html') TA的周星
              li.active 
                span.line.left
                a(href='//web.yy.com/weekStar/list.html') 周星榜单
                span.line.right
              li 
                a(href='//web.yy.com/weekStar/rule.html') 周星规则
append script
    script(src="../../js/lib/requirejs/require.js", data-main="./p-list.js")             